# Copy this file to .env and adjust as needed.

VITE_APP_VERSION=$npm_package_version

# Container image to build and push (repository + image name, no tag)
IMAGE=containeryard.evoforge.org/gmdev/platform/cortana-ui
#IMAGE=ghcr.io/nathanjskelton/alertviewer-ui

# Container tool to use
CONTAINER_CMD=docker
#CONTAINER_CMD=podman
